/.vs/Suede/v14/*.suo
/*.opendb
/Suede.VC.db
/Suede/GeneratedFiles
/Engine/lib/GLEF.lib
/Engine/lib/Shared.lib
/Suede/bin/Engine.dll
/Suede/bin/GLEF.dll
/Suede/bin/Shared.dll
/Suede/*.user
/Engine/x64/Debug
/GLEF/x64/Debug
/Shared/x64/Debug
/Suede/x64/Debug
/x64/Debug
OGLdpf.log
/Viewer/x64/Debug
/Viewer/GeneratedFiles/Debug
