/.vs
/*.opendb
*.swp
/Suede.VC.db
/Editor/GeneratedFiles
/Engine/lib/GLEF.lib
/Engine/lib/Shared.lib
/Editor/bin/Engine.dll
/Editor/bin/GLEF.dll
/Editor/bin/Shared.dll
/Editor/*.user
/Engine/x64
/GLEF/x64
/GLEFBuilder/x64
/Shared/x64
/Editor/x64
/x64
OGLdpf.log
/Viewer/x64
/Viewer/GeneratedFiles
/Editor/resources/data/GLEF.dat
*.user
__pycache__
/Editor/pipeline_dump.txt
/Editor/lib/Shared.lib
/Editor/lib/Engine.lib
/GLEFBuilder/bin/GLEF.dll
/GLEFBuilder/bin/GLEFBuilder.exe
/GLEFBuilder/bin/Shared.dll
/Editor/imgui.ini
/Editor/suede_engine.log
